VISUAL_CROSSING_API_KEY=your_api_key_here
MAP_KEY=your_nasa_firms_map_key_here
POSTGRESQL_HOST=your_postgresql_host_here
POSTGRESQL_PORT=5432
POSTGRESQL_USER=your_postgresql_user_here
POSTGRESQL_PASSWORD=your_postgresql_password_here
MYSQL_HOST=your_mysql_host_here
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user_here
MYSQL_PASSWORD=your_mysql_password_here
